body {
    margin: 0px;
    text-align: center;
    font-family: amazone-bt, Helvetica, sans-serif;
    font-size: 11px;
    background-color: #FCFCFC;
}
#container {
    width: 960px;
    margin: 0 auto;
    text-align: left;
    background-color: #FFFFFF;
}
#header {
    width: 942px;
    padding-bottom: 11px;
    padding-left: 18px;
    font-size: 11px;
    background-color: #2D6E89;
}

#content input{

    padding: 4px;
    margin-left: 6px;
    font-family: Verdana, Arial, sans-serif;
    background-color: #F9F9F9;
    border: 1px solid #EFEFEF;
    color: #607080;
}

#content input:hover {
    color: #000000;
    background-color: #E6E6E6;
    border: 1px solid #E6E6E6;
    text-decoration: none;

}

#login input{
    width: 155px;
    padding: 4px;
    margin-left: 6px;
    font-family: Verdana, Arial, sans-serif;
    background-color: #F9F9F9;
    border: 1px solid #EFEFEF;
    color: #607080;
}

#login input:hover {
    color: #000000;
    background-color: #E6E6E6;
    border: 1px solid #E6E6E6;
    text-decoration: none;
    padding-top: .3em;
    padding-bottom: .3em;
    padding-left: .8em;
    padding-right: .8em;
}


#topmenu {
    text-align: right;
    padding-top: 1em;
    padding-right: 1em;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
}

#topmenu input{
    width: 155px;
    padding: 4px;
    margin-left: 6px;
    font-family: Verdana, Arial, sans-serif;
    background-color: #F9F9F9;
    border: 1px solid #EFEFEF;
    color: #607080;
}

#topmenu input:link, #topmenu input:visited {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #000000;
    border: 1px solid #E6E6E6;
    padding-top: .3em;
    padding-bottom: .3em;
    padding-left: .8em;
    padding-right: .8em;
}

#topmenu input:hover {
    color: #000000;
    background-color: #E6E6E6;
    border: 1px solid #E6E6E6;
    text-decoration: none;
    padding-top: .3em;
    padding-bottom: .3em;
    padding-left: .8em;
    padding-right: .8em;
}
.first_title {
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    color: #E6E6E6;
}

#left_sidebar {
    width: 178px;
    float: left;
    background-color: #FFFFFF;
}

#left_sidebar h3 {
    padding: 6px;
    background-color: #8AC4EC;
}

#menu input {
    width: 155px;
    padding: 4px;
    margin-left: 6px;
    font-family: Verdana, Arial, sans-serif;
    background-color: #F9F9F9;
    border: 1px solid #EFEFEF;
    color: #607080;
}

#menu {
    width: 179px;
    color: #00008B;
    font-family: Verdana, Arial, sans-serif;
}

#menu input:link, #menu input:visited {
    width: 159px;
    margin: 1px 0 1px 0;
    padding: 4px 3px 4px 8px;
    background-color: transparent;
    color: #003366;
    text-decoration: none;
    font-family: Verdana, Arial, sans-serif;
    font-weight: normal;
    display: block;
}

#menu input:hover {
    color: #A52A2A;
    text-decoration: none;
}

#menu h3 {
    padding: 6px;
    color: #2F4F4F;
    background-color: #8AC4EC;
}
#content {
    width: 580px;
    float: left;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 11px;
    padding-right: 17px;
    font-family: Verdana, Arial, sans-serif;
    line-height: 145%;
    color: #607080;
    border-left: 1px solid #EFEFEF;
    border-right: 1px solid #EFEFEF;
    background-color: #FFFFFF;
}

#content h3, h4 {
    font-family: Verdana, Arial, sans-serif;
    color: #2F4F4F;
    font-weight: bold;
    padding-left: 0px;
}

#breadcrumb {
    text-align: right;
    color: #999999;
    padding-bottom: 6px;
}

#breadcrumb a:link, #breadcrumb a:visited {
    color: #999999;
    text-decoration: none;
}

#breadcrumb a:hover {
    color: #aaaaaa;
    text-decoration: none;
}

input:link, input:visited {
    color: #003366;
    border-bottom: 1px solid #EFEFEF;
    font-family: Verdana, Arial, sans-serif;
    text-decoration: none;
}

input:hover {
    color: #A52A2A;
    text-decoration: none;
}

#block {
    padding: 6px;
    font-family: Verdana, Arial, sans-serif;
    background-color: #F9F9F9;
    color: #607080;
}

#right_sidebar {
    width: 170px;
    float: left;
    background-color: #FFFFFF;
}

#right_sidebar p {
    width: 150px;
    padding: 4px;
    margin-left: 6px;
    font-family: Verdana, Arial, sans-serif;
    border: 1px solid #EFEFEF;
    background-color: #F9F9F9;
    color: #607080;
}

#right_sidebar h3 {
    padding: 6px;
    background-color: #8AC4EC;
}
#footer {
    color: #333333;
    width: 958px;
    padding: 1px;
    clear: both;
    text-align: center;
    background-color:  #B0E0E6;
}

.warning {
    color:red;
}
#bestel{
    width:200px;
    border-collapse:collapse;
    margin-bottom:10px;
    font-size: 12;
}
#bestelling{
    width:200px;
    border: 1px solid black;
    border-collapse:collapse;
    margin-bottom:10px;
    font-size: 12;
}
#keuken {
    border: 1px solid black;
    border-collapse:collapse;
    margin-bottom:10px;
    font-size: 12;
}

table td{padding:2px;}

.klaar {
    border: 1px solid black;
}

